[submodule "playwright-api-testing"]
	path = playwright-api-testing
	url = git@github.com:tcsako/playwright-api-project.git
[submodule "restassured-api-project"]
	path = restassured-api-project
	url = git@github.com:tcsako/restassured-api-project.git
[submodule "python-api-app"]
	path = python-api-app
	url = https://github.com/tcsako/python-api-app.git
[submodule "python-api-project"]
	path = python-api-project
	url = git@github.com:tcsako/python-api_project.git
